<h2>Employee Details</h2> 

<hr/>
<div *ngIf="student">
  <div>
    <label><b>First Name: </b></label> {{student.fname}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{student.lname}}
  </div>
  <div>
    <label><b>Email: </b></label> {{student.email}}
  </div>
  <div>
    <label><b>Year: </b></label> {{student.year}}
  </div>
  <div>
    <label><b>Address: </b></label> {{student.address}}
  </div>
  <div>
    <label><b>Major: </b></label> {{student.major}}
  </div>  
  <div>
    <label><b>Active: </b></label> {{student.active}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Student List</button><br>
