<h3>Create Student</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" required minlength="3" maxlength="60" [(ngModel)]="student.fname" name="fName" ngModel #fname="ngModel">
      <div class="alert alert-danger" *ngIf="(fname.touched && fname.invalid)">
        <div *ngIf="fname.errors.required">First Name is required</div>
        <div *ngIf="fname.errors.minlength">First Name should be minimum of {{ fname.errors.minlength.requiredLength }} chars</div>
        <div *ngIf="fname.errors.pattern">First Name doesnt match pattern</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" required minlength="3" maxlength="60" [(ngModel)]="student.lname" name="lName" ngModel #lname="ngModel">
      <div class="alert alert-danger" *ngIf="(lname.touched && lname.invalid)">
        <div *ngIf="lname.errors.required">Last Name is required</div>
        <div *ngIf="lname.errors.minlength">Last Name should be minimum of {{ lname.errors.minlength.requiredLength }} chars</div>
        <div *ngIf="lname.errors.pattern">Last Name doesnt match pattern</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required maxlength="30" email="true" [(ngModel)]="student.email" name="email" ngModel #email="ngModel">
      <div class="alert alert-danger" *ngIf="(email.touched && email.invalid)">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.minlength">Email should be minimum of {{ email.errors.minlength.requiredLength }} chars</div>
        <div *ngIf="email.errors.email">Email doesnt match pattern</div>
      </div>
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <input type="number" class="form-control" id="year" required min="1990" max="2020" [(ngModel)]="student.year" name="year" ngModel #year="ngModel">
      <div class="alert alert-danger" *ngIf="(year.touched && year.invalid)">
        <div *ngIf="year.errors.required">Year is required</div>
        <div *ngIf="year.errors.minimum || year.errors.maximum">Year should be between {{ year.errors.min.requiredMin }} - {{ year.errors.max.requiredMax }}</div>       </div>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" maxlength="100" required [(ngModel)]="student.address" name="address" ngModel #address="ngModel">
      <div class="alert alert-danger" *ngIf="(address.touched && address.invalid)">
        <div *ngIf="address.errors.required">Address is required</div>
        <div *ngIf="address.errors.maxlength">Address should be maximum of {{ address.errors.maxLength.requiredLength }}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="major">Major</label>
      <!--<input type="number" class="form-control" id="major" required [(ngModel)]="student.major" name="major" ngModel #major="ngModel">-->
      <select class="custom-select form-control" id="major" required [(ngModel)]="student.major" name="major" ngModel #major="ngModel">
        <option *ngFor="let major of majors | async" [value]="major.id">{{major.major}}</option>
      </select>
      
      <div class="alert alert-danger" *ngIf="(major.touched && major.invalid)">
        <div *ngIf="major.errors.required">Major is required</div>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-success">Submit</button>
    <button (click)="gotoList()" class="btn btn-primary m-1">Back to Student List</button><br>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>