<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Student List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students | async" (click)="studentDetail(student.id)">
                    <td>{{student.fname}}</td>
                    <td>{{student.lname}}</td>
                    <td>
                        <button (click)="updateStudent($event, student.id)" class="btn btn-secondary">Update</button>
                        <button (click)="deleteStudent($event, student)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>