<h3>Update Student</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="fname" required [(ngModel)]="student.fname" name="fname">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lname" required [(ngModel)]="student.lname" name="lname">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="student.email" name="email">
    </div>

    <div class="form-group">
        <label for="name">Year</label>
        <input type="number" class="form-control" id="year" required [(ngModel)]="student.year" name="year">
    </div>

    <div class="form-group">
        <label for="name">Address</label>
        <input type="text" class="form-control" id="address" required [(ngModel)]="student.address" name="address">
    </div>

    <div class="form-group">
        <label for="name">Major</label>
        <input type="text" class="form-control" id="major" required [(ngModel)]="student.major" name="major">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>